# Quarto build artifacts
_site/
_freeze/
.quarto/


# R / RStudio
.Rhistory
.RData
.Rproj.user/

# Python
__pycache__/
.ipynb_checkpoints/

# Jupyter
*.ipynb_checkpoints

# macOS
.DS_Store

andres.jpeg
